.intro {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* 
*   Flexbox
*   
*   Recent Jobs
*/

.job__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1em;
}

.job__item {
    max-width: 50%;
    margin-left: 2em;
    margin-bottom: 2em;
}

.job__item__thumbnail {
    vertical-align: middle;
    width: 100%;
}

.job__item__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 200;
}

/* 
*   Media Queries
*
*   Recent Jobs
*/

@media
screen and (max-width: 855px) {
    .job__list {
        padding-left: 0;
    }
}

@media
screen and (max-width: 600px) {
    .job__item {
        max-width: 100%;
        margin-left: 1em;
    }
}


/* 
*   Media Queries
*
*   Logo & Header
*/

/* logo and header: small size on screens < 425px */
@media
screen and (max-width: 425px) {
    .header__logo {
        height: 48px;
        margin-right: 0.5em;
    }
    .header__name {
        font-size: 2em;
        margin-top: 0.75em;
    }
}

/* 
*   header medium size on 426px < screens < 600px; 
*   when screen > 600px --> default size on style.css 
*/
@media
screen and (min-width: 426px) and (max-width: 600px) {
    .header__name {
        font-size: 3em;
        margin-top: 0.5em;
    }
}


/* 
*   Media Queries
*
*   Intro
*/


@media
screen and (max-width: 768px) {
    .intro p {
        font-size: 2.9em;
        margin-left: 3em;
        margin-right: 2em;
    }
}

@media 
screen and (max-width: 705px) {
    .intro p {
        font-size: 2.5em;
    }
}

@media
screen and (max-width: 639px) {
    .intro p {
        font-size: 2.2em;
    }
}

@media
screen and (max-width: 564px) {
    .intro p {
        font-size: 2em;
        margin-left: 1.3em;
        margin-right: 1em;
    }
}

.job__item a:hover {
    cursor: pointer;
}

/* 
* Media Queries
*
* All content
*/

/* sets max width */
@media 
screen and (min-width: 850px) {
  main, .header__inner, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}